body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
  }

 
  dark-mode {
    background-color: black;
    color: white;
  }
  
  body, html {
    height: 100%;
    color: #4d4d4d;
    line-height: 1.8;
  }
  
  /* Rest of your CSS code goes here */
  
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bgimg-1 {
    background-image: url('/images/IMG_4574.JPG');
    min-height: 100%;
  }
  
  .w3-wide {
    letter-spacing: 10px;
  }
  
  .w3-hover-opacity {
    cursor: pointer;
  }
  
  @media only screen and (max-device-width: 1600px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
      min-height: 400px;
    }
  }
  body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }

  