body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
  }
  
  body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bgimg-1 {
    background-image: url('/images/IMG_4574.JPG');
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("/w3images/parallax2.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("/w3images/parallax3.jpg");
    min-height: 400px;
  }
  
  .w3-wide {
    letter-spacing: 10px;
  }
  
  .w3-hover-opacity {
    cursor: pointer;
  }
  
  @media only screen and (max-device-width: 1600px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
      min-height: 400px;
    }
  }
  body.dark-mode {
    background-color: #111;
    color: #eee;
  }
  
  body.dark-mode a {
    color: #111;
  }
  
  body.dark-mode button {
    background-color: #eee;
    color: #111;
  }
  
  body.light-mode {
    background-color: #eee;
    color: #111;
  }
  
  body.light-mode a {
    color: #111;
  }
  
  body.light-mode button {
    background-color: #111;
    color: #eee;
  }
  